* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.top-bar {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}
.top-bar-text {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #183663;
  background-color: #11b14c;
  color: white;
  font-size: 30px;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding-top: 7px;
}
.body-spacing {
  padding-top: 50px;
  padding-bottom: 60px;
}
.page-title {
  font-size: 26px;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.btn-container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90%;
  margin: auto;

}
.btn-img-p {
  background: url(/images/politician-app-btn-bg-01.jpg);
  text-align: center;
  padding: 50px 50px 50px 50px;
  border: 2px solid #183663;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.btn-img-p a {
  text-decoration-color: white;
  text-decoration: none;
  font-size: 26px;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}

.hr-top {
  width: 80%;
  border: 1px solid #11b14c;
  margin: 2px auto;
}
.hr-bottom {
  width: 80%;
  border: 1px solid #183663;
  margin: 2px auto;
}
.ghl-form {
  border:none;
  width: 100%;
  height: 1400px;
}
.bottom-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #183663;
  background-color: #11b14c;
}
.bn-tab {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
