* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bottom-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #183663;
  background-color: #11b14c;
}
.bn-tab {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 10px;
}
.nav-img-text-container {
  position: relative;
  text-align: center;
  color: white;
  font-size: 30px;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 600;
  font-style: normal;
}
.nav-img-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -10%);
}
