* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.top-bar {
  padding-bottom: 10px;
}
.top-bar-text {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #183663;
  background-color: #11b14c;
  color: white;
  font-size: 30px;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 600;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.body-spacing {
  padding-bottom: 60px;
}
.page-title {
  font-size: 26px;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
.nav-img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
}
.nav-img-text-container {
  position: relative;
  text-align: center;
  width: 100%;
}
.nav-img-text-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nav-img-text-style {
  text-decoration: none;
  font-size: 26px;
  font-family: canada-type-gibson,sans-serif;
  font-weight: 600;
  font-style: normal;
  text-decoration-color: white;
  color: white;
}
.bottom-nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #183663;
  background-color: #11b14c;
}
.bn-tab {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
